@model List<LinqToTwitter.Trend>



    <h1><b>@ViewData["Lokacja"]</b></h1><br />
@foreach (var item in Model)
{<a href="/post/SpecificPostsView?hashtagname=@item.Name.Replace("#","")">@item.Name</a><br />}



