@model List<LinqToTwitter.Trend>

    <h1><b>@ViewData["Lokacja"]</b></h1><br />
@foreach (var item in Model)
{<a href="/Hash/GetHashtagPostsWithView?hashtagname=@item.Name.Replace("#","%23")">@item.Name</a><br />}



