body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse {
    margin-left: auto;
    margin-right: auto;
}

.contentFont {
    font-size: 17px;
}

#messagesTable img {
    max-height: 200px;
    max-height: 200px;
}

#hashtag {
    margin-left: auto;
    margin-right: auto;
}

#messagesTable > h1 > img {
    max-height: 50px; 
    max-width: 50px;
}

#messagesTable > h2 > img {
    max-height: 250px;
}