@model IEnumerable<WebApiHash.Models.Post>
@{
    ViewBag.Title = "RssReader";
}

@foreach (var item in Model)
{
    <h1><a href="@Html.Raw(item.DirectLinkToStatus)" target="_blank">@Html.Raw(item.Title)</a></h1>
        <h4><b>@item.Date</b></h4>
        <h3>@Html.Raw(item.ContentDescription)</h3>
        <hr />
}
