
@{
    ViewBag.Title = "RssReaderTVN";
}

<h2>RssReaderTVN</h2>

@foreach (var item in Model)
{
    <h4><b>@item.Date</b></h4>
        <h3><a href="@Html.Raw(item.DirectLinkToStatus)" target="_blank">@Html.Raw(item.ContentDescription)</a></h3>
        <h4>Via: @Html.Raw(item.PostSource)</h4>
        <hr />
}

